In [1]:
import pandas as pd
import numpy as np

In [110]:
pd.set_option('display.max_rows',200)

In [89]:
df1 = pd.read_excel('Median House Prices by LA 1995-2021, Quarterly, Long.xlsx')

In [90]:
df1.drop(index=34754,inplace=True)
#df1.dropna(0,subset=['median'],inplace=True)
print(df1.shape)
df1.head()

(34754, 4)

     LA_code          LA   quarter   median
0  E06000001  Hartlepool  Dec 1995  36500.0
1  E06000001  Hartlepool  Mar 1996  37500.0
2  E06000001  Hartlepool  Jun 1996  38500.0
3  E06000001  Hartlepool  Sep 1996  39000.0
4  E06000001  Hartlepool  Dec 1996  40000.0

In [91]:
def quarterer(x):
    quarter = ''
    month = x.split(' ')[0]
    year = x.split(' ')[-1]
    if month == 'Mar':
        quarter = ' Q1'
    elif month == 'Jun':
        quarter = ' Q2'
    elif month == 'Sep':
        quarter = ' Q3'
    elif month == 'Dec':
        quarter = ' Q4'
    result = year + quarter
    return result

In [92]:
df1['quarter'] = df1['quarter'].map(quarterer)

In [93]:
df1.shape

(34754, 4)

In [94]:
df1 = df1[df1.loc[:,'quarter']!='...109']
df1.shape

(34424, 4)

In [96]:
df2 = pd.read_csv('CPIH.csv')
df2 = df2[72:176]
df2.rename(columns={'Title':'quarter','CPIH INDEX 00: ALL ITEMS 2015=100':'cpih'},inplace=True)
df2['cpih'] = df2['cpih'].apply(pd.to_numeric)
df2.reset_index(inplace=True,drop=True)
df2.head()

   quarter  cpih
0  1995 Q4  67.2
1  1996 Q1  67.7
2  1996 Q2  68.5
3  1996 Q3  68.7
4  1996 Q4  69.2

In [97]:
base = float(df2['cpih'][df2.loc[:,'quarter']=='2015 Q2'])

In [98]:
df1.head()

     LA_code          LA  quarter   median
0  E06000001  Hartlepool  1995 Q4  36500.0
1  E06000001  Hartlepool  1996 Q1  37500.0
2  E06000001  Hartlepool  1996 Q2  38500.0
3  E06000001  Hartlepool  1996 Q3  39000.0
4  E06000001  Hartlepool  1996 Q4  40000.0

In [99]:
df1 = df1.merge(df2,on='quarter',how='inner')

In [103]:
df1.sort_values(['LA_code','quarter'],ignore_index=True,inplace=True)

In [111]:
df1['real_median'] = (df1['median']*base)/df1['cpih']
df1.head(200)

       LA_code             LA  quarter    median   cpih    real_median
0    E06000001     Hartlepool  1995 Q4   36500.0   67.2   54315.476190
1    E06000001     Hartlepool  1996 Q1   37500.0   67.7   55391.432792
2    E06000001     Hartlepool  1996 Q2   38500.0   68.5   56204.379562
3    E06000001     Hartlepool  1996 Q3   39000.0   68.7   56768.558952
4    E06000001     Hartlepool  1996 Q4   40000.0   69.2   57803.468208
5    E06000001     Hartlepool  1997 Q1   40975.0   69.3   59126.984127
6    E06000001     Hartlepool  1997 Q2   41752.0   70.0   59645.714286
7    E06000001     Hartlepool  1997 Q3   41500.0   70.2   59116.809117
8    E06000001     Hartlepool  1997 Q4   41450.0   70.6   58711.048159
9    E06000001     Hartlepool  1998 Q1   41450.0   70.6   58711.048159
10   E06000001     Hartlepool  1998 Q2   43000.0   71.4   60224.089636
11   E06000001     Hartlepool  1998 Q3   44250.0   71.4   61974.789916
12   E06000001     Hartlepool  1998 Q4   44000.0   71.8   61281.337047
13   E06000001     Hartlepool  1999 Q1   44950.0   72.0   62430.555556
14   E06000001     Hartlepool  1999 Q2   45375.0   72.7   62414.030261
15   E06000001     Hartlepool  1999 Q3   46000.0   72.6   63360.881543
16   E06000001     Hartlepool  1999 Q4   47375.0   72.9   64986.282579
17   E06000001     Hartlepool  2000 Q1   48000.0   72.8   65934.065934
18   E06000001     Hartlepool  2000 Q2   48500.0   73.5   65986.394558
19   E06000001     Hartlepool  2000 Q3   47500.0   73.5   64625.850340
20   E06000001     Hartlepool  2000 Q4   47000.0   73.9   63599.458728
21   E06000001     Hartlepool  2001 Q1   45950.0   73.7   62347.354138
22   E06000001     Hartlepool  2001 Q2   44950.0   74.8   60093.582888
23   E06000001     Hartlepool  2001 Q3   47500.0   74.8   63502.673797
24   E06000001     Hartlepool  2001 Q4   48500.0   74.9   64753.004005
25   E06000001     Hartlepool  2002 Q1   48997.5   75.0   65330.000000
26   E06000001     Hartlepool  2002 Q2   51950.0   75.7   68626.155878
27   E06000001     Hartlepool  2002 Q3   53000.0   75.8   69920.844327
28   E06000001     Hartlepool  2002 Q4   53000.0   76.2   69553.805774
29   E06000001     Hartlepool  2003 Q1   53500.0   76.1   70302.233903
30   E06000001     Hartlepool  2003 Q2   54950.0   76.8   71549.479167
31   E06000001     Hartlepool  2003 Q3   54972.5   76.8   71578.776042
32   E06000001     Hartlepool  2003 Q4   56950.0   77.1   73865.110246
33   E06000001     Hartlepool  2004 Q1   56975.0   77.2   73801.813472
34   E06000001     Hartlepool  2004 Q2   54250.0   77.8   69730.077121
35   E06000001     Hartlepool  2004 Q3   55000.0   77.8   70694.087404
36   E06000001     Hartlepool  2004 Q4   52975.0   78.3   67656.449553
37   E06000001     Hartlepool  2005 Q1   54000.0   78.5   68789.808917
38   E06000001     Hartlepool  2005 Q2   57500.0   79.3   72509.457755
39   E06000001     Hartlepool  2005 Q3   60000.0   79.7   75282.308657
40   E06000001     Hartlepool  2005 Q4   69000.0   80.1   86142.322097
41   E06000001     Hartlepool  2006 Q1   77000.0   80.2   96009.975062
42   E06000001     Hartlepool  2006 Q2   83000.0   81.2  102216.748768
43   E06000001     Hartlepool  2006 Q3   86000.0   81.7  105263.157895
44   E06000001     Hartlepool  2006 Q4   90000.0   82.3  109356.014581
45   E06000001     Hartlepool  2007 Q1   92500.0   82.4  112257.281553
46   E06000001     Hartlepool  2007 Q2   97500.0   83.3  117046.818727
47   E06000001     Hartlepool  2007 Q3  100000.0   83.3  120048.019208
48   E06000001     Hartlepool  2007 Q4  105000.0   84.1  124851.367420
49   E06000001     Hartlepool  2008 Q1  109475.0   84.5  129556.213018
50   E06000001     Hartlepool  2008 Q2  110000.0   86.1  127758.420441
51   E06000001     Hartlepool  2008 Q3  110000.0   87.1  126291.618829
52   E06000001     Hartlepool  2008 Q4  110000.0   87.2  126146.788991
53   E06000001     Hartlepool  2009 Q1  105000.0   87.0  120689.655172
54   E06000001     Hartlepool  2009 Q2  100000.0   87.8  113895.216401
55   E06000001     Hartlepool  2009 Q3  100000.0   88.2  113378.684807
56   E06000001     Hartlepool  2009 Q4  103500.0   88.6  116817.155756
57   E06000001     Hartlepool  2010 Q1  108000.0   89.1  121212.121212
58   E06000001     Hartlepool  2010 Q2  110000.0   90.0  122222.222222
59   E06000001     Hartlepool  2010 Q3  112500.0   90.3  124584.717608
60   E06000001     Hartlepool  2010 Q4  110500.0   91.1  121295.279912
61   E06000001     Hartlepool  2011 Q1  110000.0   92.2  119305.856833
62   E06000001     Hartlepool  2011 Q2  108475.0   93.4  116140.256959
63   E06000001     Hartlepool  2011 Q3  105000.0   93.9  111821.086262
64   E06000001     Hartlepool  2011 Q4  104000.0   94.7  109820.485744
65   E06000001     Hartlepool  2012 Q1  101000.0   95.1  106203.995794
66   E06000001     Hartlepool  2012 Q2  100000.0   95.8  104384.133612
67   E06000001     Hartlepool  2012 Q3  102500.0   96.1  106659.729448
68   E06000001     Hartlepool  2012 Q4  108000.0   97.0  111340.206186
69   E06000001     Hartlepool  2013 Q1  110000.0   97.4  112936.344969
70   E06000001     Hartlepool  2013 Q2  115000.0   98.1  117227.319062
71   E06000001     Hartlepool  2013 Q3  116000.0   98.4  117886.178862
72   E06000001     Hartlepool  2013 Q4  115747.5   98.9  117034.883721
73   E06000001     Hartlepool  2014 Q1  114950.0   99.0  116111.111111
74   E06000001     Hartlepool  2014 Q2  116000.0   99.7  116349.047141
75   E06000001     Hartlepool  2014 Q3  117000.0   99.8  117234.468938
76   E06000001     Hartlepool  2014 Q4  120000.0  100.0  120000.000000
77   E06000001     Hartlepool  2015 Q1  123000.0   99.4  123742.454728
78   E06000001     Hartlepool  2015 Q2  124000.0  100.0  124000.000000
79   E06000001     Hartlepool  2015 Q3  124125.0  100.2  123877.245509
80   E06000001     Hartlepool  2015 Q4  124000.0  100.4  123505.976096
81   E06000001     Hartlepool  2016 Q1  122750.0  100.1  122627.372627
82   E06000001     Hartlepool  2016 Q2  120000.0  100.8  119047.619048
83   E06000001     Hartlepool  2016 Q3  120000.0  101.2  118577.075099
84   E06000001     Hartlepool  2016 Q4  119950.0  101.9  117713.444553
85   E06000001     Hartlepool  2017 Q1  119950.0  102.3  117253.176931
86   E06000001     Hartlepool  2017 Q2  123250.0  103.4  119197.292070
87   E06000001     Hartlepool  2017 Q3  123000.0  103.9  118383.060635
88   E06000001     Hartlepool  2017 Q4  124950.0  104.7  119340.974212
89   E06000001     Hartlepool  2018 Q1  125000.0  104.8  119274.809160
90   E06000001     Hartlepool  2018 Q2  124000.0  105.8  117202.268431
91   E06000001     Hartlepool  2018 Q3  124000.0  106.3  116650.987770
92   E06000001     Hartlepool  2018 Q4  125000.0  106.9  116931.711880
93   E06000001     Hartlepool  2019 Q1  125000.0  106.7  117150.890347
94   E06000001     Hartlepool  2019 Q2  126500.0  107.8  117346.938776
95   E06000001     Hartlepool  2019 Q3  129950.0  108.2  120101.663586
96   E06000001     Hartlepool  2019 Q4  129950.0  108.4  119880.073801
97   E06000001     Hartlepool  2020 Q1  128500.0  108.5  118433.179724
98   E06000001     Hartlepool  2020 Q2  129475.0  108.7  119112.235511
99   E06000001     Hartlepool  2020 Q3  130000.0  109.1  119156.736939
100  E06000001     Hartlepool  2020 Q4  129000.0  109.3  118023.787740
101  E06000001     Hartlepool  2021 Q1  129000.0  109.5  117808.219178
102  E06000001     Hartlepool  2021 Q2  130000.0  110.9  117222.723174
103  E06000001     Hartlepool  2021 Q3  130000.0  112.0  116071.428571
104  E06000002  Middlesbrough  1995 Q4   40000.0   67.2   59523.809524
105  E06000002  Middlesbrough  1996 Q1   41500.0   67.7   61299.852290
106  E06000002  Middlesbrough  1996 Q2   42000.0   68.5   61313.868613
107  E06000002  Middlesbrough  1996 Q3   43000.0   68.7   62590.975255
108  E06000002  Middlesbrough  1996 Q4   43000.0   69.2   62138.728324
109  E06000002  Middlesbrough  1997 Q1   43500.0   69.3   62770.562771
110  E06000002  Middlesbrough  1997 Q2   44000.0   70.0   62857.142857
111  E06000002  Middlesbrough  1997 Q3   45000.0   70.2   64102.564103
112  E06000002  Middlesbrough  1997 Q4   45000.0   70.6   63739.376771
113  E06000002  Middlesbrough  1998 Q1   45000.0   70.6   63739.376771
114  E06000002  Middlesbrough  1998 Q2   43000.0   71.4   60224.089636
115  E06000002  Middlesbrough  1998 Q3   42000.0   71.4   58823.529412
116  E06000002  Middlesbrough  1998 Q4   42513.0   71.8   59210.306407
117  E06000002  Middlesbrough  1999 Q1   43000.0   72.0   59722.222222
118  E06000002  Middlesbrough  1999 Q2   44850.0   72.7   61691.884457
119  E06000002  Middlesbrough  1999 Q3   46500.0   72.6   64049.586777
120  E06000002  Middlesbrough  1999 Q4   46000.0   72.9   63100.137174
121  E06000002  Middlesbrough  2000 Q1   45500.0   72.8   62500.000000
122  E06000002  Middlesbrough  2000 Q2   45000.0   73.5   61224.489796
123  E06000002  Middlesbrough  2000 Q3   45000.0   73.5   61224.489796
124  E06000002  Middlesbrough  2000 Q4   45000.0   73.9   60893.098782
125  E06000002  Middlesbrough  2001 Q1   44500.0   73.7   60379.918589
126  E06000002  Middlesbrough  2001 Q2   44000.0   74.8   58823.529412
127  E06000002  Middlesbrough  2001 Q3   44500.0   74.8   59491.978610
128  E06000002  Middlesbrough  2001 Q4   45000.0   74.9   60080.106809
129  E06000002  Middlesbrough  2002 Q1   46000.0   75.0   61333.333333
130  E06000002  Middlesbrough  2002 Q2   48000.0   75.7   63408.190225
131  E06000002  Middlesbrough  2002 Q3   47583.0   75.8   62774.406332
132  E06000002  Middlesbrough  2002 Q4   47000.0   76.2   61679.790026
133  E06000002  Middlesbrough  2003 Q1   45000.0   76.1   59132.720105
134  E06000002  Middlesbrough  2003 Q2   43000.0   76.8   55989.583333
135  E06000002  Middlesbrough  2003 Q3   46000.0   76.8   59895.833333
136  E06000002  Middlesbrough  2003 Q4   49000.0   77.1   63553.826200
137  E06000002  Middlesbrough  2004 Q1   50500.0   77.2   65414.507772
138  E06000002  Middlesbrough  2004 Q2   60000.0   77.8   77120.822622
139  E06000002  Middlesbrough  2004 Q3   64950.0   77.8   83483.290488
140  E06000002  Middlesbrough  2004 Q4   65000.0   78.3   83014.048531
141  E06000002  Middlesbrough  2005 Q1   69000.0   78.5   87898.089172
142  E06000002  Middlesbrough  2005 Q2   71500.0   79.3   90163.934426
143  E06000002  Middlesbrough  2005 Q3   78000.0   79.7   97867.001255
144  E06000002  Middlesbrough  2005 Q4   85000.0   80.1  106117.353308
145  E06000002  Middlesbrough  2006 Q1   90176.5   80.2  112439.526185
146  E06000002  Middlesbrough  2006 Q2   96000.0   81.2  118226.600985
147  E06000002  Middlesbrough  2006 Q3   99000.0   81.7  121175.030600
148  E06000002  Middlesbrough  2006 Q4  101000.0   82.3  122721.749696
149  E06000002  Middlesbrough  2007 Q1  103000.0   82.4  125000.000000
150  E06000002  Middlesbrough  2007 Q2  105000.0   83.3  126050.420168
151  E06000002  Middlesbrough  2007 Q3  108000.0   83.3  129651.860744
152  E06000002  Middlesbrough  2007 Q4  106000.0   84.1  126040.428062
153  E06000002  Middlesbrough  2008 Q1  105000.0   84.5  124260.355030
154  E06000002  Middlesbrough  2008 Q2  105000.0   86.1  121951.219512
155  E06000002  Middlesbrough  2008 Q3  100000.0   87.1  114810.562572
156  E06000002  Middlesbrough  2008 Q4   99999.0   87.2  114677.752294
157  E06000002  Middlesbrough  2009 Q1  100000.0   87.0  114942.528736
158  E06000002  Middlesbrough  2009 Q2  105000.0   87.8  119589.977221
159  E06000002  Middlesbrough  2009 Q3  110000.0   88.2  124716.553288
160  E06000002  Middlesbrough  2009 Q4  111000.0   88.6  125282.167043
161  E06000002  Middlesbrough  2010 Q1  110000.0   89.1  123456.790123
162  E06000002  Middlesbrough  2010 Q2  108000.0   90.0  120000.000000
163  E06000002  Middlesbrough  2010 Q3  108750.0   90.3  120431.893688
164  E06000002  Middlesbrough  2010 Q4  105000.0   91.1  115257.958288
165  E06000002  Middlesbrough  2011 Q1  105000.0   92.2  113882.863341
166  E06000002  Middlesbrough  2011 Q2  105000.0   93.4  112419.700214
167  E06000002  Middlesbrough  2011 Q3  102500.0   93.9  109158.679446
168  E06000002  Middlesbrough  2011 Q4  102000.0   94.7  107708.553326
169  E06000002  Middlesbrough  2012 Q1  102000.0   95.1  107255.520505
170  E06000002  Middlesbrough  2012 Q2  102553.0   95.8  107049.060543
171  E06000002  Middlesbrough  2012 Q3  105000.0   96.1  109261.186264
172  E06000002  Middlesbrough  2012 Q4  107000.0   97.0  110309.278351
173  E06000002  Middlesbrough  2013 Q1  105000.0   97.4  107802.874743
174  E06000002  Middlesbrough  2013 Q2  105000.0   98.1  107033.639144
175  E06000002  Middlesbrough  2013 Q3  108000.0   98.4  109756.097561
176  E06000002  Middlesbrough  2013 Q4  110000.0   98.9  111223.458038
177  E06000002  Middlesbrough  2014 Q1  115000.0   99.0  116161.616162
178  E06000002  Middlesbrough  2014 Q2  118000.0   99.7  118355.065196
179  E06000002  Middlesbrough  2014 Q3  120000.0   99.8  120240.480962
180  E06000002  Middlesbrough  2014 Q4  120000.0  100.0  120000.000000
181  E06000002  Middlesbrough  2015 Q1  123950.0   99.4  124698.189135
182  E06000002  Middlesbrough  2015 Q2  124250.0  100.0  124250.000000
183  E06000002  Middlesbrough  2015 Q3  124000.0  100.2  123752.495010
184  E06000002  Middlesbrough  2015 Q4  129500.0  100.4  128984.063745
185  E06000002  Middlesbrough  2016 Q1  128000.0  100.1  127872.127872
186  E06000002  Middlesbrough  2016 Q2  130000.0  100.8  128968.253968
187  E06000002  Middlesbrough  2016 Q3  131000.0  101.2  129446.640316
188  E06000002  Middlesbrough  2016 Q4  130000.0  101.9  127576.054956
189  E06000002  Middlesbrough  2017 Q1  132500.0  102.3  129521.016618
190  E06000002  Middlesbrough  2017 Q2  129000.0  103.4  124758.220503
191  E06000002  Middlesbrough  2017 Q3  125000.0  103.9  120307.988450
192  E06000002  Middlesbrough  2017 Q4  125500.0  104.7  119866.284623
193  E06000002  Middlesbrough  2018 Q1  125500.0  104.8  119751.908397
194  E06000002  Middlesbrough  2018 Q2  130000.0  105.8  122873.345936
195  E06000002  Middlesbrough  2018 Q3  133000.0  106.3  125117.591722
196  E06000002  Middlesbrough  2018 Q4  133500.0  106.9  124883.068288
197  E06000002  Middlesbrough  2019 Q1  133500.0  106.7  125117.150890
198  E06000002  Middlesbrough  2019 Q2  132975.0  107.8  123353.432282
199  E06000002  Middlesbrough  2019 Q3  134950.0  108.2  124722.735675

In [112]:
df1.to_excel('2015 Real Median House Price by LA 1995-2021, Quarterly.xlsx')