In [1]:
import pandas as pd
import numpy as np

In [21]:
quarters = []
for x in range(1995,2022):
    for y in [' Q1',' Q2',' Q3',' Q4']:
        quarters.append((str(x)+y))
print(quarters)

['1995 Q1', '1995 Q2', '1995 Q3', '1995 Q4', '1996 Q1', '1996 Q2', '1996 Q3', '1996 Q4', '1997 Q1', '1997 Q2', '1997 Q3', '1997 Q4', '1998 Q1', '1998 Q2', '1998 Q3', '1998 Q4', '1999 Q1', '1999 Q2', '1999 Q3', '1999 Q4', '2000 Q1', '2000 Q2', '2000 Q3', '2000 Q4', '2001 Q1', '2001 Q2', '2001 Q3', '2001 Q4', '2002 Q1', '2002 Q2', '2002 Q3', '2002 Q4', '2003 Q1', '2003 Q2', '2003 Q3', '2003 Q4', '2004 Q1', '2004 Q2', '2004 Q3', '2004 Q4', '2005 Q1', '2005 Q2', '2005 Q3', '2005 Q4', '2006 Q1', '2006 Q2', '2006 Q3', '2006 Q4', '2007 Q1', '2007 Q2', '2007 Q3', '2007 Q4', '2008 Q1', '2008 Q2', '2008 Q3', '2008 Q4', '2009 Q1', '2009 Q2', '2009 Q3', '2009 Q4', '2010 Q1', '2010 Q2', '2010 Q3', '2010 Q4', '2011 Q1', '2011 Q2', '2011 Q3', '2011 Q4', '2012 Q1', '2012 Q2', '2012 Q3', '2012 Q4', '2013 Q1', '2013 Q2', '2013 Q3', '2013 Q4', '2014 Q1', '2014 Q2', '2014 Q3', '2014 Q4', '2015 Q1', '2015 Q2', '2015 Q3', '2015 Q4', '2016 Q1', '2016 Q2', '2016 Q3', '2016 Q4', '2017 Q1', '2017 Q2', '2017 Q3', '2017 Q4', '2018 Q1', '2018 Q2', '2018 Q3', '2018 Q4', '2019 Q1', '2019 Q2', '2019 Q3', '2019 Q4', '2020 Q1', '2020 Q2', '2020 Q3', '2020 Q4', '2021 Q1', '2021 Q2', '2021 Q3', '2021 Q4']

In [25]:
df1 = pd.read_excel('interest_rate.xlsx')
df1['quarter'] = quarters
df1.head()

/home/potato/.local/lib/python3.7/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

   quarter  interest_rate
0  1995 Q1       8.661467
1  1995 Q2       8.242567
2  1995 Q3       8.108933
3  1995 Q4       7.788167
4  1996 Q1       7.753200

In [26]:
df2 = pd.read_csv('CPIH.csv')
df2 = df2[69:177]
df2.rename(columns={'Title':'quarter','CPIH INDEX 00: ALL ITEMS 2015=100':'cpih'},inplace=True)
df2['cpih'] = df2['cpih'].apply(pd.to_numeric)
df2.reset_index(inplace=True,drop=True)
df2.head()

   quarter  cpih
0  1995 Q1  65.7
1  1995 Q2  66.7
2  1995 Q3  66.9
3  1995 Q4  67.2
4  1996 Q1  67.7

In [27]:
df1 = df1.merge(df2,on='quarter',how='inner')
df1['inflation_rate'] = np.nan

In [28]:
df1.head()

   quarter  interest_rate  cpih  inflation_rate
0  1995 Q1       8.661467  65.7             NaN
1  1995 Q2       8.242567  66.7             NaN
2  1995 Q3       8.108933  66.9             NaN
3  1995 Q4       7.788167  67.2             NaN
4  1996 Q1       7.753200  67.7             NaN

In [29]:
for x in range(1,len(df1)-1):
    A = df1.loc[x-1,'cpih']
    B = df1.loc[x,'cpih']
    rate = ((B-A)/A)*100
    df1.loc[x,'inflation_rate'] = rate

In [30]:
df1['real_interest'] = df1['interest_rate'] - df1['inflation_rate']

In [31]:
df1

     quarter  interest_rate   cpih  inflation_rate  real_interest
0    1995 Q1       8.661467   65.7             NaN            NaN
1    1995 Q2       8.242567   66.7        1.522070       6.720497
2    1995 Q3       8.108933   66.9        0.299850       7.809083
3    1995 Q4       7.788167   67.2        0.448430       7.339736
4    1996 Q1       7.753200   67.7        0.744048       7.009152
..       ...            ...    ...             ...            ...
103  2020 Q4       0.337267  109.3        0.183318       0.153949
104  2021 Q1       0.611667  109.5        0.182983       0.428684
105  2021 Q2       0.870733  110.9        1.278539      -0.407805
106  2021 Q3       0.714733  112.0        0.991885      -0.277151
107  2021 Q4       0.953300  114.1             NaN            NaN

[108 rows x 5 columns]

In [32]:
df1.to_excel('Real Interest Rates 1995-2021, Quarterly.xlsx')