In [1]:
import pandas as pd
import numpy as np

In [29]:
df1 = pd.read_excel('interest_rate.xlsx')
df1.rename(columns={'date':'year'},inplace=True)
df1 = df1[0:27]
df1['year'] = range(1995,2022)
df1.head()

   year interest_rate
0  1995      8.200283
1  1996      7.810183
2  1997      7.052592
3  1998      5.550958
4  1999      5.093525

In [30]:
df2 = pd.read_csv('CPIH.csv')
df2 = df2[14:41]
df2.rename(columns={'Title':'year','CPIH INDEX 00: ALL ITEMS 2015=100':'CPIH'},inplace=True)
df2 = df2.apply(pd.to_numeric)

In [31]:
df1 = df1.merge(df2,on='year',how='inner')
df1['inflation rate'] = np.nan

In [38]:
df1.head()

   year interest_rate  CPIH  inflation rate
0  1995      8.200283  66.6             NaN
1  1996      7.810183  68.5             NaN
2  1997      7.052592  70.0             NaN
3  1998      5.550958  71.3             NaN
4  1999      5.093525  72.6             NaN

In [45]:
for x in range(1,len(df1)-1):
    A = df1.loc[x-1,'CPIH']
    B = df1.loc[x,'CPIH']
    rate = ((B-A)/A)*100
    df1.loc[x,'inflation rate'] = rate

In [47]:
df1['real_interest'] = df1['interest_rate'] - df1['inflation rate']

In [48]:
df1

    year interest_rate   CPIH  inflation rate real_interest
0   1995      8.200283   66.6             NaN           NaN
1   1996      7.810183   68.5        2.852853       4.95733
2   1997      7.052592   70.0        2.189781      4.862811
3   1998      5.550958   71.3        1.857143      3.693815
4   1999      5.093525   72.6        1.823282      3.270243
5   2000      5.328975   73.4        1.101928      4.227047
6   2001        4.9295   74.6        1.634877      3.294623
7   2002      4.894242   75.7        1.474531      3.419711
8   2003      4.526592   76.7        1.321004      3.205588
9   2004      4.882267   77.8        1.434159      3.448108
10  2005      4.413892   79.4        2.056555      2.357336
11  2006      4.501675   81.4        2.518892      1.982783
12  2007      5.011275   83.3        2.334152      2.677123
13  2008      4.590725   86.2        3.481393      1.109332
14  2009      3.647517   87.9        1.972158      1.675359
15  2010      3.624425   90.1        2.502844      1.121581
16  2011      3.135992   93.6        3.884573     -0.748581
17  2012      1.918042   96.0        2.564103     -0.646061
18  2013      2.389783   98.2        2.291667      0.098117
19  2014      2.569083   99.6        1.425662      1.143421
20  2015      1.901033  100.0        0.401606      1.499427
21  2016      1.305208  101.0        1.000000      0.305208
22  2017      1.235808  103.6        2.574257     -1.338449
23  2018      1.460658  106.0        2.316602     -0.855944
24  2019      0.935825  107.8        1.698113     -0.762288
25  2020      0.374442  108.9        1.020408     -0.645966
26  2021      0.787608  111.6             NaN           NaN

In [49]:
df1.to_excel('realinterestrates.xlsx')