In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv('SHSD_Open_Data_1980_2021.csv')
df1.head()

,LA_CODE,LA_NAME,LAD20CD,LAD20NM,LAD20TYPE,CTY20CD,CTY20NM,MCTY20CD,MCTY20NM,RGN20CD,RGN20NM,CTRY20CD,CTRY20NM,Year,Provider,Disposal Type,Disposal Detail Tier 1,Disposal Detail Tier 2,Units
0,E07000157,Alnwick,E06000057,Northumberland,E06,NaN,NaN,NaN,NaN,E12000001,North East,E92000001,England,1997-98,LA,Demolition,Demolition,Demolition,0.0
1,E07000158,Berwick-upon-Tweed,E06000057,Northumberland,E06,NaN,NaN,NaN,NaN,E12000001,North East,E92000001,England,1997-98,LA,Demolition,Demolition,Demolition,0.0
2,E07000159,Blyth Valley,E06000057,Northumberland,E06,NaN,NaN,NaN,NaN,E12000001,North East,E92000001,England,1997-98,LA,Demolition,Demolition,Demolition,0.0
3,E07000160,Castle Morpeth,E06000057,Northumberland,E06,NaN,NaN,NaN,NaN,E12000001,North East,E92000001,England,1997-98,LA,Demolition,Demolition,Demolition,0.0
4,E07000054,Chester-le-Street,E06000047,County Durham,E06,NaN,NaN,NaN,NaN,E12000001,North East,E92000001,England,1997-98,LA,Demolition,Demolition,Demolition,0.0

In [4]:
df_t = df1[['LA_CODE','LA_NAME','Year','Disposal Type','Units']].groupby(['LA_CODE','LA_NAME','Year','Disposal Type']).sum()

In [5]:
df_t.reset_index(inplace=True)
df_t.columns = ['LA_code','LA','year','type','units']

In [6]:
df_t = df_t.pivot(index=['LA_code','LA','year'],columns='type',values='units')

In [7]:
df_t.reset_index(inplace=True)

In [8]:
df_t[df_t.loc[:,'LA']=='Coventry']

type     LA_code        LA     year  Demolition   Sale
12352  E08000026  Coventry  1980-81         NaN    8.0
12353  E08000026  Coventry  1981-82         NaN  472.0
12354  E08000026  Coventry  1982-83         NaN  768.0
12355  E08000026  Coventry  1983-84         NaN  454.0
12356  E08000026  Coventry  1984-85         NaN  297.0
12357  E08000026  Coventry  1985-86         NaN  407.0
12358  E08000026  Coventry  1986-87         NaN  380.0
12359  E08000026  Coventry  1987-88         NaN  537.0
12360  E08000026  Coventry  1988-89         NaN  968.0
12361  E08000026  Coventry  1989-90         NaN  726.0
12362  E08000026  Coventry  1990-91         NaN  286.0
12363  E08000026  Coventry  1991-92         NaN  199.0
12364  E08000026  Coventry  1992-93         NaN  123.0
12365  E08000026  Coventry  1993-94         NaN  136.0
12366  E08000026  Coventry  1994-95         NaN  144.0
12367  E08000026  Coventry  1995-96         NaN  117.0
12368  E08000026  Coventry  1996-97         NaN  144.0
12369  E08000026  Coventry  1997-98       120.0  198.0
12370  E08000026  Coventry  1998-99         0.0  180.0
12371  E08000026  Coventry  1999-00         0.0  298.0
12372  E08000026  Coventry  2000-01         0.0  105.0
12373  E08000026  Coventry  2001-02         0.0    0.0
12374  E08000026  Coventry  2002-03         0.0    0.0
12375  E08000026  Coventry  2003-04         0.0    0.0
12376  E08000026  Coventry  2004-05         0.0    0.0
12377  E08000026  Coventry  2005-06         NaN    0.0
12378  E08000026  Coventry  2006-07         NaN    0.0
12379  E08000026  Coventry  2007-08         NaN    0.0
12380  E08000026  Coventry  2008-09         NaN    0.0
12381  E08000026  Coventry  2009-10         NaN    0.0
12382  E08000026  Coventry  2010-11         NaN    0.0
12383  E08000026  Coventry  2011-12        76.0   47.0
12384  E08000026  Coventry  2012-13        82.0   64.0
12385  E08000026  Coventry  2013-14        15.0   91.0
12386  E08000026  Coventry  2014-15        31.0  115.0
12387  E08000026  Coventry  2015-16        33.0  143.0
12388  E08000026  Coventry  2016-17        41.0  120.0
12389  E08000026  Coventry  2017-18        22.0  141.0
12390  E08000026  Coventry  2018-19       167.0  116.0
12391  E08000026  Coventry  2019-20         0.0  225.0
12392  E08000026  Coventry  2020-21        29.0  112.0