In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows',200)

In [32]:
df1 = pd.read_excel('Live_Tables_1006-1009.ods',sheet_name=4,header=1,na_values='..')
df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,CurrentONS code,Lower and Single Tier Authority Data,1991-92,1992-93,1993-94,1994-95,1995-96,1996-97,1997-98,...,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,England,NaN,NaN,25705,57023,48941,52190,56949,42465,35780,...,37677,17580,10924,9331,6798,5814,6742,6337,6735,5955
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df1.drop(columns=['Unnamed: 0'],inplace=True)

In [34]:
years = list(range(1992,2022))
df2 = df1.loc[:,('Unnamed: 1','Unnamed: 2')]
df2.rename(columns={'Unnamed: 1':'LA_code','Unnamed: 2':'LA'},inplace=True)
df2.head(20)

            LA_code                                    LA
0               NaN                                   NaN
1   CurrentONS code  Lower and Single Tier Authority Data
2               NaN                                   NaN
3               NaN                                   NaN
4               NaN                                   NaN
5         E12000001                                   NaN
6               NaN                                   NaN
7         E07000157                               Alnwick
8         E07000158                    Berwick-upon-Tweed
9         E07000159                          Blyth Valley
10        E07000160                        Castle Morpeth
11        E07000054                     Chester-le-Street
12        E06000047                         County Durham
13        E06000005                            Darlington
14        E07000055                           Derwentside
15        E07000056                                Durham
16        E07000057                             Easington
17        E08000037                             Gateshead
18        E06000001                            Hartlepool
19        E06000002                         Middlesbrough

In [35]:
columns = []
for x in range(3,33):
    columns.append(f'Unnamed: {x}')
for x in range(len(years)):
    df2[years[x]] = df1[columns[x]]

In [36]:
df2 = df2[~df2.loc[:,'LA'].isnull()]
df2.drop(index=[1,431,433],inplace=True)
df2.reset_index(drop=True,inplace=True)

In [37]:
df2.tail(30)
# what do null values mean?

,LA_code,LA,1992,1993,1994,1995,1996,1997,1998,1999,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
370,E07000050,North Dorset,20,109,54,52,95,158,93,51,...,101,5,36,40,26,0,0,0,NaN,NaN
371,E06000024,North Somerset,0,0,8,0,0,46,91,25,...,1,59,42,42,30,16,25,0,73,30
372,E07000231,North Wiltshire,42,139,114,115,86,38,163,108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,E07AHS438,Northavon,0,20,53,108,126,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,E07000023,Penwith,22,93,16,71,80,108,141,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,E06000026,Plymouth,194,169,250,469,469,166,189,296,...,183,139,41,70,67,7,0,37,24,22
376,E06000029,Poole,57,215,186,288,230,116,184,125,...,1,26,0,6,4,12,1,0,NaN,NaN
377,E07000051,Purbeck,3,161,103,19,75,130,52,142,...,5,0,1,1,0,0,0,0,NaN,NaN
378,E07000024,Restormel,38,110,86,70,95,54,66,77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,E07000232,Salisbury,39,121,176,173,194,176,121,95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,E07000188,Sedgemoor,34,136,93,102,222,243,76,19,...,202,116,20,0,0,8,0,0,0,19
381,E07000246,Somerset West and Taunton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66,63
382,E06000025,South Gloucestershire,7,0,0,0,23,6,13,60,...,196,148,177,193,179,231,272,243,386,339
383,E07000044,South Hams,57,71,70,123,199,84,85,92,...,30,0,24,0,0,0,0,0,0,0
384,E07000189,South Somerset,27,75,155,151,143,141,161,121,...,239,0,100,41,48,7,4,5,0,46
385,E07000082,Stroud,29,67,77,145,89,90,138,37,...,14,88,18,0,46,10,5,19,6,44
386,E06000030,Swindon,85,164,189,122,434,116,104,120,...,155,7,116,0,0,0,0,0,0,29
387,E07000190,Taunton Deane,82,92,65,254,86,37,62,143,...,156,9,89,68,126,92,50,59,NaN,NaN
388,E07000045,Teignbridge,90,75,232,108,192,13,66,60,...,42,35,0,1,8,0,0,0,3,16
389,E07000083,Tewkesbury,14,58,50,25,71,36,45,49,...,33,51,8,41,75,38,12,13,33,4
390,E06000027,Torbay,93,182,141,124,63,84,109,92,...,27,0,134,4,10,7,5,14,0,0
391,E07000046,Torridge,106,64,43,121,106,10,76,8,...,74,10,10,29,0,30,8,19,44,8
392,E07AHS439,Wansdyke,0,69,31,0,118,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,E07000047,West Devon,7,161,48,55,38,33,18,5,...,16,0,0,16,0,9,0,0,0,0
394,E07000052,West Dorset,16,71,175,159,140,195,184,131,...,46,26,0,0,0,0,1,0,NaN,NaN
395,E07000191,West Somerset,18,17,40,28,54,23,12,29,...,41,0,5,0,9,0,0,0,NaN,NaN
396,E07000233,West Wiltshire,57,134,38,176,63,108,36,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,E07000053,Weymouth and Portland,15,70,279,14,104,108,159,92,...,18,14,35,5,0,0,0,0,NaN,NaN
398,E06000054,Wiltshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,632,404,374,124,14,2,6,2,19,61
399,E07AHS440,Woodspring,132,80,74,54,247,129,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df2.shape

(400, 32)

In [40]:
df2 = pd.melt(df2,id_vars=['LA_code','LA'],var_name='year',value_name='new_dwellings')