In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from statsmodels.tsa.api import VAR
from statsmodels.tsa.stattools import adfuller
from statsmodels.tools.eval_measures import rmse, aic

In [7]:
df = pd.read_excel('D:\Documents\projects\RA\cleaned datasets\combined.xlsx',index_col=0)
df.head()

,LA_code,LA,quarter,DC_Total,real_median,real_interest,date
0,E06000001,Hartlepool UA,2005 Q1,50,68789.808917,4.386672,2005-01-01
1,E06000002,Middlesbrough UA,2005 Q1,70,87898.089172,4.386672,2005-01-01
2,E06000003,Redcar and Cleveland UA,2005 Q1,30,121019.108280,4.386672,2005-01-01
3,E06000004,Stockton-on-Tees UA,2005 Q1,80,140127.388535,4.386672,2005-01-01
4,E06000005,Darlington UA,2005 Q1,140,136942.675159,4.386672,2005-01-01